{% extends 'layout.html' %}
{% block body %}
	<!-- <table>
		<tr>
			<td>
					 Upload an Image 
					<div id="upload"> </div> 
			</td>
			<td>
					Scan an Image
			</td>
			<td>
					<h1> Scan An Images </h1>
					<video id="video" width="640" height="480" autoplay></video>
					<button id="snap">Snap Photo</button>
					<canvas id="canvas" width="640" height="480"></canvas>
					
				
			</td>
		</tr>
	</table> -->
	<!-- <table>
		<tr>
			<td>
				
			</td>
		</tr>
	</table> -->

	<!-- Jinja Template -->
	<!-- <h1> Returned Values</h1>
	<ul class="list-group">
		{% for value in sample %}
			<li class ="list-group-item"> {{value.body}}</li>
		{% endfor %}
	</ul> -->

	<div class="container-fluid">
	  <div class="row">
	    <!-- For Uploading an Image -->
	    <div class="col-sm">
	    	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadAnImage">
						Upload An Image
			</button>
			<div class="modal fade" id="uploadAnImage" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content">
				    <div class="modal-header">
					    <h5 class="modal-title" id="exampleModalCenterTitle">Upload An Image</h5>
					    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
				    </div>
				    <div class="modal-body">
				      Form Input Here with specific Dimensions
				    </div>
				    <div class="modal-footer">
				      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      <button type="button" class="btn btn-primary">Save changes</button>
				    </div>
				  </div>
				</div>
			</div>
	    </div>
	    <!-- For Scanning A Picture -->
	    <div class="col-sm">
	     	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#scanAnImage">
				Scan an Image
			</button>
			<div class="modal fade" id="scanAnImage" tabindex="-1" role="dialog">
				<div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content">
				    <div class="modal-header">
				     	<h5 class="modal-title" id="exampleModalCenterTitle">Scan A Picture Here</h5>
				     	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				    </div>
				    <div class="modal-body">
				      <!-- Video Code Here -->
				      <!-- <video></video> -->
				      <!-- Input for Video code -->
				      <img src="{{ url_for('video_feed')}}" width = "400px" height="400px"> 

				    </div>
				    <div class="modal-footer">
				      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      <button type="button" class="btn btn-primary">Save changes</button>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	  </div>
	</div>



{% endblock %}