{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center">
  <h1> Welcome to Handwriting Pro </h1>
  <p class="lead"> Our project aims to supplement a person's analysis of illegible text </p>
</div>
<div class="container-fluid">
  <div class="row">
    <!-- For Uploading an Image -->
    <div class="col-sm">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadAnImage">
						Upload An Image
			</button>
      <div class="modal fade" id="uploadAnImage" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Upload An Image</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
            </div>

            <div class="modal-body">
              <form action="http://0.0.0.0:5000/prediction_page" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- For Scanning A Picture -->
    <div class="col-sm">
      <a href="/getStarted" ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadAnImage">
						Take A Picture
			</button></a>

    </div>
  </div>
</div>
{% endblock %}
