<!-- <!doctype html> -->
<html>
<head>
  <title>Demo</title>
  <meta charset='utf-8'>
  <link rel="stylesheet" href="main.css" type="text/css" media="all">
  <!-- <script src="photo.js"> -->
  </script>
</head>
<body>
<h3>Demo: Take a Selfie With JavaScript</h3>

<video id="player" controls autoplay></video>
<button id="capture">Capture</button>
<canvas id="canvas" width=320 height=240></canvas>
<a href="#" class="button" id="extractor" onclick="extract()" download="image.png">Download!</a>
<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');

  const constraints = {
    video: true,
  };

  captureButton.addEventListener('click', () => {
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    
  });

  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    }).catch(e =>{
      console.log(e);
      /* handle the error */
    if (err.name=="NotFoundError" || err.name == "DevicesNotFoundError" ){
        //required track is missing
    } else if (err.name=="NotReadableError" || err.name == "TrackStartError" ){
         //webcam or mic are already in use
    } else if (err.name=="OverconstrainedError" || err.name == "ConstraintNotSatisfiedError" ){
        //constraints can not be satisfied by avb. devices
    } else if (err.name=="NotAllowedError" || err.name == "PermissionDeniedError" ){
        //permission denied in browser
    } else if (err.name=="TypeError" || err.name == "TypeError" ){
        //empty constraints object       
    } else {
         //other errors
    }
    });
    function extract(){
      // document.getElementById("ext").download = "image.png"
      // document.getElementById("downloader").href = document.getElementById("canvas").toDataURL("image/png").replace(/^data:image\/[^;]/, 'data:application/octet-stream');
      var button = document.getElementById('extractor');
      button.addEventListener('click', function(e){
        var dataURL = canvas.toDataURL('image/png');
        button.href = dataURL;
      })
    }
</script>
</body>
</html>